<main>
  <section class="section has-background-grey-lighter">
      <div class="container">
        <h1 class="title">家庭一覧</h1>
      </div>
  </section>

  <section class="section ">
    <div class="container">
      <div style="width: 600px">
        <%== pagy_info(@pagy) %>
        <%== pagy_bulma_nav(@pagy) %>
      </div>
    </div>
    <div class="container">
      <table class="table">
        <thead>
        <tr>
          <th>ID</th>
          <th>名前</th>
          <th>在住都市</th>
          <th>家庭の人数</th>
          <th>子供の有無</th>
        </tr>
        </thead>
        <tbody>
        <% @house_users.each do |house_user| %>
          <tr>
            <td><%= house_user.id %></td>
            <td><%= link_to "#{house_user.first_name} #{house_user.last_name}", house_user_url(house_user.id) %></td>
            <td><%= house_user.city %></td>
            <td><%= house_user.num_of_people %></td>
            <td><%= exist_or_not(house_user.has_child) %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
    <div class="container">
      <div style="width: 600px">
        <%== pagy_info(@pagy) %>
        <%== pagy_bulma_nav(@pagy) %>
      </div>
    </div>
  </section>
</main>
