<main>
  <section class="section  has-background-grey-lighter">
    <div class="container">
      <h1 class="title">家庭情報 (詳細と発電状況）</h1>
    </div>
  </section>

  <section class="section">
    <div class="container">
      <h2 class="title">詳細</h2>
      <ul>
        <li>ID: <%= @house_user.id %></li>
        <li>Name: <%= "#{@house_user.first_name} #{@house_user.last_name}" %></li>
        <li>City: <%= @house_user.city %></li>
        <li>Num of people: <%= @house_user.num_of_people %></li>
        <li>Has child: <%= @house_user.has_child %></li>
      </ul>
    </div>

    <div class="container">
      <h2 class="title">発電状況</h2>
      <%= line_chart [ { name: 'temperature', data: @energy_histories_temperature  } ], colors: ["red", "#666"] %>
      <%= line_chart [ { name: 'daylight', data: @energy_histories_daylight } ], colors: ["green", "#666"]  %>
      <%= line_chart [ { name: 'energy production', data: @energy_histories_energy_production } ], colors: ["blue", "#666"]  %>
    </div>
  </section>
</main>
