<main>
  <section class="section has-background-grey-lighter">
    <div class="container">
      <h1 class="title">データインポート (家庭）</h1>
    </div>
  </section>

  <% flash.each do |message_type, message| %>
    <% if message_type == "alert" %>
      <section class="section">
        <div class="container">
          <div class="notification is-danger">
            <%= message %>
          </div>
        </div>
      </section>
    <% else %>
      <section class="section">
        <div class="container">
          <div class="notification is-success">
            <%= message %>
          </div>
        </div>
      </section>
    <% end %>
  <% end %>

  <section class="section">
    <%= form_with url: '/house_users/import', method: 'post', multipart: true do %>
      <div class="container">
        <div class="box">
          <label class="label">家庭データファイル(CSV)を参照</label>
          <%= file_field :house_user_file, :file, class: 'file' %>
        </div>
      </div>
      <div class="container">
        <div class="box">
          <label class="label">データインポート</label>
          <%= submit_tag '実行', class: 'button' %>
        </div>
      </div>
    <% end %>
  </section>
</main>
